python==3.11.9
robotframework==7.1.1
selenium==4.8.2
requests
json2yaml
robotframework-requests
robotframework-jsonlibrary
robotframework-sshlibrary
robotframework-scplibrary
robotframework-httplibrary
robotframework-seleniumlibrary==6.0.0
robotframework-angularjs
robotframework-xvfb
xvfbwrapper==0.2.9
redfish>=3.1.7
redfishtool==1.1.1
ipmitool==2.0
urllib3
websocket-client
webdrivermanager
